@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

:root {
    --qr-primary-orange: #f85d3a;
    --qr-light-gray: #f8f8f8;
    --qr-medium-gray: #e9e9e9;
    --qr-dark-gray: #737373;
    --qr-bit-light-gray: #8A8A8A;
}

@layer utilities {
    @variants responsive {

        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}


/* Custom fonts */

.title {
    font-family: 'NotoSans', sans-serif;
    font-weight: bold;
    line-height: 1.3;
    font-size: clamp(28px, 1em + 3vw, 48px);

}

.paragraph {
    font-family: 'NotoSans', sans-serif;
    font-size: clamp(12px, 1em + 0.5vw, 20px);
}

.button-font {
    font-family: 'NotoSans', sans-serif;
    font-weight: bold;
    font-size: clamp(12px, 1em + 0.5vw, 20px);
}

.paragraph-14px {
    font-family: 'NotoSans', sans-serif;
    font-size: clamp(10px, 1em + 0.5vw, 14px);
}

.paragraph-12px {
    font-family: 'NotoSans', sans-serif;
    font-size: clamp(10px, 1em + 0.5vw, 12px);
}