@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('../assets/fonts/NotoSans-Regular.ttf') format('truetype');
}

//_variables
$qrmenu-gray: #525252;
$qrmenu-white: #fff;
$qrmenu-header: #F5003B;